.App {
  text-align: center;
}

body{

  background-color: bisque;

}

button{
  font-size: 50px;
  margin-left: 10px;
  border-radius: 30px;
  width: 300px
}
h1{
  margin-top: 50px;
  font-size: 50px;
}